.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

// Desktop Responsive
@media screen and (min-width: 1025px) {
  .two-way-binding-box {
    width: 40%;
  }
}

// Tablet Responsive
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .two-way-binding-box {
    width: 70%;
  }
}

// Mobile Responsive
@media screen and (max-width: 767px) {
  .two-way-binding-box {
    width: 85%;
  }
}
