<mat-card class="mat-card">
  <mat-card-content>
    <div class="header-container">
      <h1 class="card-title">{{ cardTitle }}</h1>
      <button
        mat-icon-button
        matTooltip="{{ tooltipMessage }}"
        aria-label="Button that displays a tooltip when focused or hovered over"
      >
        <mat-icon>warning</mat-icon>
      </button>
    </div>
    <div>
      <p>You entered: {{ userInput }}</p>
    </div>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>2-Way Binding</mat-label>
        <input
          matInput
          placeholder=""
          value=""
          type="text"
          id="inputText"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="userInput"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
