<div>
  <mat-toolbar color="primary" class="">
    <span>Angular Lab</span>
  </mat-toolbar>

  <div class="app-main-container">
    <div class="chips-box">
      <app-chip-list></app-chip-list>
    </div>

    <div class="two-way-binding-box">
      <app-two-way-binding-card
        cardTitle="Angular Labs - Two Way Binding"
        tooltipMessage="Two-way binding gives components in your application a way to share data. Use two-way binding to listen for events and update values simultaneously between parent and child components."
      ></app-two-way-binding-card>
    </div>
  </div>
</div>
